*{
  box-sizing: border-box;
}
html{
  font-size: 19px;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
position: fixed;
width: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1000;
}

#mobile-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: white;
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
gap: 30px;
transform: translateY(-100%);
z-index: 999;
transition: transform 0.3s ease;
}

#mobile-menu.dark-mode{
background-color:black;
}

#mobile-menu.active { 
transform: translateY(0); 
}

.mobile-menu-option { 
text-decoration: none; 
font-size: 20px; 
font-weight: bold; 
letter-spacing: 1px; 
width: 100%;
margin: 0;
display: flex;
align-items: center;
gap:20px;
}
.mobile-menu-option::before{
  content:"\2015";
  font-size: 20px;
  line-height: 0;
}
.mobile-menu-option:hover::before{ 
  content:"\2015";
  font-size: 60px;
 
}
#first-mobile-menu-option{
  margin-top: 10vh;
}
#mobile-menu-social-icons-container{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;  
}

.mobile-menu-social-icon{
  font-size: small;
  padding: 5px;
  border-radius: 10px;
  border-style:solid;
  border-width: 1px;
}

#top-right-header-nav-container { 
margin-right: 10px; 
display: flex; 
gap: 15px; 
align-items: center;
}

.nav-btn{
cursor: pointer;
color: white;
}

.nav-btn:hover{
border-radius: 5px;
border:1px solid white;
}

body {
margin: 0;
font-family: "SUSE Mono", sans-serif;
font-size: 1rem;
color:black;
}

main { 
position: relative; 
}

#home-page {
color:black;
height: 100vh;
width: 100%;
background: radial-gradient(125% 125% at 50% 90%, white 40%,#0b5085 100%);
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
font-family: "Orbitron", sans-serif;
font-size: 1.5rem;
position: sticky;
top: 0;
left: 0;
z-index: 1;
transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

#home-page.dark-mode{
  background: radial-gradient(125% 125% at 50% 90%, black 40%,#1e6499 100%);
  color: white;
}

#home-page > div{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100%;
}

#home-page button{
width:fit-content;
margin:10px auto;
}

.homepage-social-icon{
  background-color:#a5c5db;
  text-decoration: none;
  color:black ;
  border-radius: 5px;
  padding: 8px;
  font-size: 0.7rem;
}
.homepage-social-icon.dark-mode{
  background-color:#01192b;
  color:white;
}

#socials-and-resume-btn-container{
display: flex;
flex-direction: column-reverse;
}

#home-page h6{
font-family: "SUSE Mono", sans-serif;
}

#home-page h3, #home-page h1, #home-page h6{ 
margin:0;
line-height: 1.2;
text-align: center;
}

#homepage-social-icons-container{
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
gap: 10px;
margin-top: 10px;
}

.footer-social-icon{ 
text-decoration: none;
color:white;
border-radius: 5px;
background-color:black;
padding: 8px;
font-size: 0.7rem;
}
.footer-social-icon.dark-mode{
  background-color: white;
  color: black;
}

#resume-button{
  cursor: pointer;
  font-family: "SUSE Mono", sans-serif;
  font-size: medium;
  margin-top: 10px;
  height:min-content;
  width:min-content;
}
#resume-button:hover{
  transform: scale(1.2);
}
@keyframes shake {
0%, 100% { 
transform: translateY(0); 
}
20% { 
transform: translateY(-10px); 
}
40% { 
transform: translateY(0); 
}
60% { 
transform: translateY(-5px); 
}
80% { 
transform: translateY(0); 
}
}

@keyframes fadeIn { 
from{
opacity:0;
}
to { 
opacity: 1;
}
}

#scroll-down-arrow {
width: 100%;
text-align: center;
position: absolute;
bottom: 10px;
font-size: 2.5rem;
cursor: pointer;
animation: shake 1s infinite, fadeIn 2s ease forwards;
opacity: 0; 
}

#about-page{
display: flex;
flex-direction: column;
align-items: center;
font-size: 1rem;
background-attachment: fixed;
background-position: center;
background-size: cover;
position: relative;
width: 100%;
z-index: 2;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px; 
padding-top: 17vh;
}


 #about-page-text-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 1s ease-in-out,opacity 1s ease-in-out;

}
#about-page-text-container.visible{
  opacity: 1;
  transform: translateX(0px);
}

#about-page-text-container >div{
  width: 80%;
}
#profile-picture{
display: block;
width: auto;
max-height:200px;
object-fit: cover;
border-width: 4px;
border-style: solid;
border-radius: 50%;
margin-top: 0;
margin-left: auto;
margin-right: auto;
}

#services-page,#skills-page,#projects-page,#experience-page,#contact-page {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 20px 20px;
}

.section-heading{
  font-size: 2rem;
  text-align: center;
  font-family: "Orbitron", sans-serif;
 
  transition: transform 2s ease, opacity 2s ease;
}


.title{
  font-size: 1.2rem;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

#services-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: stretch;
gap: 25px;
}

.service-card{
color:black;
font-size:1rem;
flex: 1 1 25vw;
box-sizing: border-box;
max-width: 25vw;
min-width: 20vw;
overflow-wrap: break-word;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
letter-spacing: 2px;
cursor: pointer;
border-width: 1px;
border-style: solid;
border-radius: 5px;

} 


.cut-bottom-left{
clip-path: polygon(0% 0%,100% 0%,100% 100%,20% 100%,0% 80%);
}

.service-btn{
margin-top: 10px;
margin-bottom: 15px;
height: 40px;
padding: 6px 14px;
font-size: 0.8 rem;
cursor: pointer;
}

.service-btn:hover{
transform: scale(1.2);
}


.skills-container {
display:flex;
justify-content: space-around;
gap: 20px;
}

.skill {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
text-align: center;
}

  

.skill i { 
font-size: 2rem; 
margin-bottom: 5px; 
}

@keyframes move {
0%{
transform: translateX(0);
}
20%{
transform: translateX(5px);
}
40%{
transform: translateX(-5px);
}
60%{
transform: translateX(5px);
}
80%{
transform: translateX(-5px);
}
100%{
transform: translateX(0);
}

}
#projects-page > div {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: stretch;
gap: 20px;
}
.project-container{
color:black;
flex: 1 1 25vw;
max-width: 25vw;
min-width:23vw;
overflow-wrap: break-word;
font-size:1rem;
display: flex; 
flex-direction: column; 
align-items: center; 
min-height: 80vh;
border-width: 1px;
border-style:  solid;
border-radius: 10px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
transition: opacity 1s ease-in-out;
}

.project-container h3{
  text-align: center;
}

.project-pic{
  border-radius: 10px;
  border-width:  1px; 
  border-style:solid;
  width: 25vw;
  height: 55vh;
}

.technologies-used-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
width: 100%;
}
.technologies-used-container > div{
font-size: small;
background-color: white;
color: black;
border: 1px solid black;
padding: 5px;
box-sizing: border-box;

}
.technologies-used-container > div.dark-mode{
  border-color: white;
}
.project-description{
text-align: center;
}
.view-more-about-project-container{
  width: 100%;
  display: flex;
  flex-direction: column;
 
}
.project-btn{
  border:1px solid black;
  box-shadow: inset 0 0 5px #0b5085, 0 0 5px black;
  font-size: small;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:15px;
  background-color:white;
  color: black;
  border-radius: 10px;
  padding: 5px;

}
.project-btn.dark-mode{
  border-color: white;
  box-shadow: inset 0 0 5px #01192b, 0 0 5px white;
}


.project-btn:hover{
  transform: translateY(-2px);
}
.see-more-text-and-icon-container{
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
  margin-right: auto ;
  margin-left: auto;
  gap: 10px;
}


.view-more-arrow{
animation: move 2s infinite;
}
.new-window-text:hover{
  text-decoration: underline;
}

#timeline{
  width: 85vw;
  height: min-content;
  position:relative;
  margin-right:auto;
  margin-left: auto;
 
  }
 
#timeline::before{
  content:'';
  position:absolute;
  left:20px;
  top:0;
  width:2px;
  height:100%;
  background:#222;
  z-index: 1;
}


#progress-line{
  position:absolute;
  left:20px;
  top:0;
  width:2px;
  height:0;
  background:#1e6499;
  z-index:2;
  
}

#moving-dot{
  position:absolute;
  left:20px;
  width:17px;
  height:17px;
  background:#1e6499;
  border-radius:50%;
  transform:translate(-50%,0);
  z-index:4;
}


.dot{
  position:absolute;
  left:20px;
  width:15px;
  height:15px;
  border:1px solid black;
  border-radius:50%;
  background:white;
  transform:translate(-50%,0);
  z-index:3;
  transition:background 1s ease;
}

.dot.filled{
  background:#1e6499;
}

.item{

  position:relative;
  padding-left:40px;

}
.item h3{
  color:#1e6499;
  margin-bottom:6px;
}
.item .date{
  color:#1e6499;
  font-size:0.9em;

}
.item p{
  color:black;
  font-size:0.95em;
  line-height:1.6;
}

.form-entry{
  font-size: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

input{
  height: 10vh;
}

form{
  width: 80vw;
  margin: 0 auto;
}

#send-button{
  width: 80vw;
  height: 5vh;
  border-radius: 5px;
  background-color:#a5c5db ;
  cursor: pointer;
}

#send-button.dark-mode{
  background-color:#01192b ;
}

#send-button-text{
  display: flex;
  justify-content: center;
  gap:10px;
}

#send-button:hover{
  transform: scale(1.01);
}
#response-message-container{
  display: none;
  display: block;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
  z-index: 2000;
  animation: fadeIn 0.3s ease;
}
#status-icon{
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  animation: fadeIn 1s ease;
}
#popup{
  position: fixed;
  top: 25%;
  left:30%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 25px 70px rgba(0,0,0,0.4);
  text-align: center;
  max-width:40%;
  z-index: 1500;
  opacity: 0;
  animation: popupAppear 0.4s ease forwards;
}

@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes popupAppear{
  to{
    opacity:1;
  }

}

#response-message-container.show{
  display:block;
}
#footer-page{
  background: radial-gradient(125% 125% at 50% 10%,white 40%,#0b5085 100%);
  display:flex;
  flex-direction: column;
  font-size: 1rem;
  color:black;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  padding: 10px;
}
#footer-page.dark-mode{
  background: radial-gradient(125% 125% at 50% 10%,black 40%,#1e6499 100%);
}
#back-to-top-text-and-icon-container{
  font-size: 1rem;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  gap: 10px;
  text-decoration: none; 
  margin-top: 12vh;
}

#back-to-top-text-and-icon-container span{
  font-size: 1rem;
  }

#arrow-upward{
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

#footer-main-text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#footer-main-text-container h1{
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
}

#footer-main-text-container h3{
  font-size: 1rem;
}

#footer-page h1, #footer-page h3{
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

#footer-bottom-section-container{
  font-size: 1rem;
  margin-top: auto;
}

#footer-contact-details-container{
  display: flex;
  flex-direction: column;
}

#footer-email-container,#watsapp-container{
  display: flex;
  align-items: center;
  gap:10px;
}

#footer-page p ,#footer-social-icons-container{
  margin-bottom: 10px;
  margin-top: 3px;
}

a{
  text-decoration: none;
  color:black;
}

.change-background-color-container.dark-mode-background{
  background-color:#01192b;

}

.change-border-color-container.dark-mode-border{
  border-color: white;
}

.change-text-color-container.dark-mode-text{
  color: white;
}

.change-page-color.dark-mode-image{
  background-color: black;
}

.change-button-color-container.dark-mode-button{
  background-color:white;
  color: black;
}

.change-background-color-container{
  background-color:#a5c5db;
  transition: background-color 1s ease-in-out;
}

.change-border-color-container{
  border-color:black;
  transition: border-color 1s ease-in-out;
}
.change-border-color2{
  border-color: #a5c5db;
  transition: border-color 1s ease-in-out;
}

.change-border-color2.dark-mode{
  border-color:#01192b;
}
.change-text-color-container{
  color:black;
  transition:color 1s ease-in-out;
}
.change-page-color{
  background-color: white;
}

.change-button-color-container{
  background-color: black;
  color: white;
  transition: background-color 1s ease-in-out, color 1s ease-in-out ;
}

.change-background-color-on-hover:hover{
  transform: scale(1.04);
  background-color:#6c98b6;
}
.change-background-color-on-hover:hover.dark-mode-hover{
  transform: scale(1.04);
  background-color:#000d16;
}

@media(min-width:1085px){
 
  .section-heading{
    transform:translate(50px,40px) ;
    opacity: 0;
    filter: blur(5px) ;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;

}
  .section-heading.visible{
    transform: translate(0,0);
    filter: blur(0px) ;
    opacity: 1;
}
}

@media(max-width:1080px){
  .project-pic{
    width: 25vw;
    height: 55vh;
  }
  .mobile-menu-option::before{
    content:none;

}
  .mobile-menu-option:hover::before{ 
    content:none;
   
}

  .mobile-menu-option:hover{ 
    text-decoration: underline;
   
}
  #first-mobile-menu-option{
    margin-top: 9vh;
}


}

@media(max-width:610px){

  html{
    font-size: 14px;
  }

  .section-heading{
    transform:translateX(-100px) ;
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}
  .section-heading.visible{
    transform: translateX(0px);
    opacity: 1;
}
  .mobile-menu-option::before{
    content:none;

}
  .mobile-menu-option:hover::before{ 
    content:none;
   
 
}
  #first-mobile-menu-option{
    margin-top: 9vh;
}
  #homepage-social-icons-container {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #popup{
  top:15%;
  left:15%;
  max-width:70%;
  max-height: 70%;
  }
  

  #homepage-social-icons-container { 
    gap: 5px; 
  }

  #socials-and-resume-btn-container{
    flex-direction: column;
  }
  #about-page-text-container{
    transform: translateY(100px);
    transition: transform 1s ease-in-out,opacity 1s ease-in-out;

}
  #about-page-text-container.visible{
    opacity: 1;
    transform: translateY(0px);
}
  #about-page-text-container >div{
    width: 100%;
}
  #about-page>div{
    width: 100%;
  }

  #service-container{
    flex-direction: column;
  }

  .service-card{
  max-width: 80vw;
  min-width: 75vw;
  height: auto;
  }
  

  .skills-container { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center; 
  }

  .project-container{
    flex: 1 1 80vw;
    max-width: 80vw;
    min-width:60vw;

  }

  .project-pic{
    width: 80vw;
  }

  #projects-page > div {
    align-items: center;
    
}
  #timeline{
    width: 90vw;
  }
  .change-background-color-on-hover:hover{
  transform: scale(1);
  background-color:#a5c5db;
}
.change-background-color-on-hover:hover.dark-mode-hover{
  transform: scale(1);
  background-color:#01192b;
}
  
  #moving-dot{
  width:15px;
  height:15px;

}


.dot{
  width:13px;
  height:13px;

}

}
